*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.DS_Store
.idea/
novel.iml
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/com/.DS_Store
src/main/java/com/novel/.DS_Store
src/main/resources/.DS_Store
src/main/resources/product/
src/main/resources/rebel.xml
src/main/webapp/static/dist/.DS_Store
src/test/resources/
target/
/src/main/resources/log4j.properties
/src/main/resources/jdbc.properties
/src/main/resources/ehcache/ehcache.xml
/src/main/resources/ehcache/
src/test/java/com/novel/tasks/
