<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'我的书架,'+${site}">汐灵书院</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{/static/dist/css/bootstrap.min.css}"/>
    <link href="../static/css/top.css" rel="stylesheet" th:href="@{/static/css/top.css}"/>
    <link href="../static/css/foot.css" rel="stylesheet" th:href="@{/static/css/foot.css}"/>
    <link href="../static/css/main.css" rel="stylesheet" th:href="@{/static/css/main.css}"/>
    <link href="../static/css/bookshelf.css" rel="stylesheet" th:href="@{/static/css/bookshelf.css}"/>
    <link rel="shortcut icon" href="../static/icon/book.ico" th:href="@{/static/icon/book.ico}" />
    <script src="../static/js/jquery-3.1.0.min.js" th:src="@{/static/js/jquery-3.1.0.min.js}"></script>
    <script src="../static/dist/js/bootstrap.min.js" th:src="@{/static/dist/js/bootstrap.min.js}"></script>
    <script src="../static/js/store.min.js" th:src="@{/static/js/store.min.js}"></script>
    <script src="../static/js/common.js" th:src="@{/static/js/common.js}"></script>
    <script src="../static/js/book.js" th:src="@{/static/js/book.js}"></script>
</head>
<body>
<!-- head -->
<div id="top" class="container-fluid">
    <h1><div class="brand"><img src="../static/images/book.png" th:src="@{/static/images/book.png}" th:alt="${site}+',小说阅读网'" alt="汐灵书院,小说阅读网"/>
        <span th:text="${site}">汐灵书院</span>
    </div></h1>
    <div class="toolbar row">
        <ul class="list-inline">
            <li><a href="/templates/index.html" th:href="@{/}">首页</a></li>
            <th:block th:each="item,index:${nclasses}">
                <li><a href="javascript:void(0);" th:href="@{'/classify/'+${item.nTypeId}+'-1'}" th:text="${item.nTypeName}"></a></li>
            </th:block>
        </ul>
    </div>
    <div id="center" class="row text-center">
        <div class="last col-xs-12 col-sm-8 col-md-7 col-lg-7">
            <img src="../static/images/book_open.png" th:src="@{/static/images/book_open.png}">
            <a href="javascript:void(0);">最后阅读:[元气少年]第240章 我帮你磨墨</a>
        </div>
        <div class="search col-xs-12 col-sm-4 col-md-5 col-lg-5">
            <div class="row">
                <input type="text" id="search" class="form-control col-sm-2" placeholder="书名/作者" th:onkeydown="'javascript:if(window.event.keyCode==13){document.getElementById(\'search-btn\').click();}'">
                <button id="search-btn" type="button" class="btn btn-success col-sm-2" th:with="surl = @{/search(p=1 ,q='')}" th:onclick="'search(\''+${surl}+'\');'">搜索</button>
            </div>
            <!--<input type="text" id="search" value="" placeholder="书名/作者">-->
            <!--<a href="javascript:void (0);" class="btn-search" id="btn-search">搜索</a>-->
        </div>
    </div>
</div>

<!-- body -->
<div id="main" class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <span class="theme bg">我的书架<small><em>[提示：切换浏览器后将失效]</em></small></span>
            <ul class="content list-unstyled">
                <li>
                    <div class="bcp">
                        <a href="javascript:loadMyBook();">[删除]</a>
                    </div>
                    <div class="bcont">
                        <a href="javascript:void(0);" class="title">超能力基因改造</a>
                        <a href="javascript:void(0);" class="lastread">最后阅读:第240章 我帮你磨墨</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center hide" th:text="'哎哎,没有找到数据,请反馈至'+${email}+'邮箱...'" th:id="page">
            哎哎,没有找到数据,请反馈至xxxxxx@xxx.com邮箱...
        </div>
    </div>
</div>

<!-- foot -->
<div id="foot" class="container-fluid">
    <div class="row">
        <div class="footlink col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="md text-left">
                友情链接：
                <a href="http://www.healing.vicp.net/" th:text="${site}" th:href="@{/}">汐灵书院</a>
                <a href="http://www.kanshuzhong.com/" target="_blank">看书中</a>
                <a href="http://www.bxwx8.org/" target="_blank">笔下文学</a>
            </div>
        </div>
        <div class="footcopy col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="cp">
                <p>
                    Copyright © 2016
                    <a href="http://www.healing.vicp.net" th:text="${site}" th:href="@{/}">汐灵书院</a>
                    , All rights reserved。
                </p>
                <p th:text="'小说最新章节转载自网上，仅供书友试读，请书友支持正版，支持作者，试读后觉得不错，前往首发站点购买阅读。如有侵犯请来信告知，本站立即予以处理。反馈邮箱：'+${email}">
                    小说最新章节转载自网上，仅供书友试读，请书友支持正版，支持作者，试读后觉得不错，前往首发站点购买阅读。如有侵犯请来信告知，本站立即予以处理。反馈邮箱：xxxxxx@xxx.com
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>