<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${novel.nName}+','+${site}">汐灵书院</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" th:content="${novel.nName}+'小说章节列表,全文阅读无弹窗,小说阅读网,'+${site}" content="小说,全文阅读无弹窗,小说阅读网,汐灵书院">
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{/static/dist/css/bootstrap.min.css}"/>
    <link href="../static/css/chapter.css" rel="stylesheet" th:href="@{/static/css/chapter.css}"/>
    <link rel="shortcut icon" href="../static/icon/book.ico" th:href="@{/static/icon/book.ico}" />
    <script src="../static/js/jquery-3.1.0.min.js" th:src="@{/static/js/jquery-3.1.0.min.js}"></script>
    <script src="../static/dist/js/bootstrap.min.js" th:src="@{/static/dist/js/bootstrap.min.js}"></script>
    <script src="../static/js/store.min.js" th:src="@{/static/js/store.min.js}"></script>
    <script src="../static/js/common.js" th:src="@{/static/js/common.js}"></script>
    <script src="../static/js/ajax.js" th:src="@{/static/js/ajax.js}"></script>
</head>
<body>
<div class="book container-fluid">
    <!--title-->
    <div class="title row">
        <div class="link col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <a href="/" class="left text-center col-xs-2 col-sm-2 col-md-2 col-lg-2" th:href="@{/}">首页</a>
                <span class="center text-center col-xs-6 col-sm-8 col-md-8 col-lg-9" th:text="${novel.nName}">
                    书名
                </span>
                <a href="javascript:void(0);" class="right text-center col-xs-2 col-sm-2 col-md-2 col-lg-1">反馈</a>
            </div>
        </div>
    </div>

    <!--description-->
    <div class="desc row">
        <div class="summary col-xs-12 col-sm-12 col-md-12 col-lg-12" th:text="'简介：' + ${novel.nDesc}">简介：</div>
        <div class="info col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <span class="col-xs-5 col-sm-7 col-md-8 col-lg-9">
                    作者: <a href="javascript:void(0);" th:href="@{/search(p=1,q=${novel.nAuthor})}" class="author" th:text="${novel.nAuthor}">XX</a>
                </span>
                <span class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                    <a href="javascript:void(0);" class="btn pull-right" onclick="javascript:document.getElementsByTagName('body')[0].scrollTop=document.getElementsByTagName('body')[0].scrollHeight;">底部</a>
                </span>
                <span class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                    <a href="javascript:void(0);" class="btn pull-right" th:with="url = @{/downBook/} + ${novel.nId}" th:onclick="'bookdown(\''+${url}+'\')'">下载</a>
                </span>
            </div>
        </div>
    </div>

    <!--content-->
    <div class="catalog row" th:if="${not #lists.isEmpty(chapters)}">
        <th:block th:if="${#strings.isEmpty(success)}" th:each="chapter,index:${chapters}">
            <a class="col-xs-12 col-sm-6 col-md-4 col-lg-4" href="/" th:with="url = '/chapterDetail/' + ${novel.nId} + '/' + ${index.size - index.count + 1}" th:href="@{${url}(url=${chapter.url})}">
                <span th:text="${chapter.title}">第一章 XXX</span>
            </a>
        </th:block>
        <th:block th:if="${not #strings.isEmpty(success)}">
            <div th:text="${success}"></div>
        </th:block>
    </div>
    <div class="catalog row text-center" th:text="'哎哎,没有找到数据,请反馈至'+${email}+'邮箱...'" th:if="${#lists.isEmpty(chapters)}">
        哎哎,没有找到数据,请反馈至xxxxxx@xxx.com邮箱...
    </div>

    <!--footlink-->
    <div class="botm row text-center">
        <a href="/" class="btn small" th:href="@{/}">返回</a>
        <a href="javascript:void(0);" class="btn" th:onclick="'bookShelf(\''+${novel.nId}+'\',\''+${novel.nName}+'\',\''+${#httpServletRequest.getRequestURI()}+'\');'">加入书架</a>
        <a href="javascript:void(0);" class="btn small" onclick="javascript:document.getElementsByTagName('body')[0].scrollTop=0;">顶部</a>
    </div>
</div>
</body>
</html>