<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>汐灵书院</title>
    <link href="../static/css/foot.css" rel="stylesheet" th:href="@{/static/css/foot.css}"/>
    <link rel="shortcut icon" href="../static/icon/book.ico" th:href="@{/static/icon/book.ico}" />
</head>
<body>
<div class="row">
    <div class="footlink col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="md text-left">
            友情链接：
            <a href="http://www.healing.vicp.net/" target="汐灵书院" th:href="@{/}">汐灵书院</a>
            <a href="http://www.kanshuzhong.com/" target="_blank">看书中</a>
        </div>
    </div>
    <div class="footcopy col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="cp">
            <p>
                Copyright © 2016
                <a href="http://www.healing.vicp.net" th:href="@{/}">汐灵书院</a>
                , All rights reserved。
            </p>
            <p>
                小说最新章节转载自网上，仅供书友试读，请书友支持正版，支持作者，试读后觉得不错，前往首发站点购买阅读。如有侵犯请来信告知，本站立即予以处理。反馈邮箱：chost@126.com
            </p>
        </div>
    </div>
</div>
</body>
</html>