<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>汐灵书院</title>
    <link href="../static/css/main.css" rel="stylesheet" th:href="@{/static/css/main.css}"/>
    <link rel="shortcut icon" href="../static/icon/book.ico" th:href="@{/static/icon/book.ico}" />
</head>
<body>
<div class="row">
    <th:block th:each="nclasse,index:${nclasses}">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <ul class="content list-unstyled">
                <li>
                    <span class="theme bg" th:text="${nclasse.nTypeName}">都市言情</span>
                </li>
                <th:block th:each="hotNovel,hotStatus:${hotNovels}">
                    <li th:if="${nclasse.nTypeName eq hotNovel.nType}">
                        <div class="cp">
                            <span class="stars stars-0"></span>
                            <p class="num" th:text="${hotNovel.nBrowse}">5914</p>
                            <p>浏览</p>
                        </div>
                        <div class="cont">
                            <a href="javascript:void(0);" class="title" th:href="@{/}+'chapter/'+${hotNovel.nId}" th:text="${hotNovel.nName}">元气少年</a>
                            <div class="info" th:text="${hotNovel.nAuthor}+'/'+${hotNovel.nType}+'/'+(${hotNovel.nStatus == 1}? '连载中' : '完结')">
                                张君宝/都市/连载中
                            </div>
                            <p class="intro">
                                <img src="../static/images/new.png" alt="" th:src="@{/static/images/new.png}"/>
                                <a href="javascript:void(0);" th:with="lastUrl = '/chapterDetail/' + ${hotNovel.nId} + '/1'" th:href="@{${lastUrl}(url=${hotNovel.nLastUpdateChapterUrl})}" th:text="${hotNovel.nLastUpdateChapter}">第240章 我帮你磨墨</a>
                            </p>
                        </div>
                    </li>
                </th:block>
            </ul>
        </div>
    </th:block>
</div>
</body>
</html>